/* Stephanie */


/* css for login.html and login2.html */

*{
    margin: 0; 
    padding: 0; 
    font-family: 'Lato'; 
    text-decoration: none;  
}

 .h1{  
    margin: 15px;
} 

.divlogin{ 
    margin-top: 200px;    
    border-radius: 10px;
    padding: 50px;
    margin-left: 50px;
    margin-right:50px;
    text-align: center; 
} 

.divbuttons{ 
    margin-top: 220px;    
    
} 


.inputlogin{
    margin: 5px;
    padding: 8px;
    border: none;
    outline: none;
    border-bottom:  2px solid black;
    text-align: center;  
}


.buttonlogin{ 
    margin: 70px 0px -20px 0px; 
    border-radius: 8px;
    background-color: #CBE5F9; 
    border: none;
    font-size: 15px; 
    color: black;
    text-align: center;
    padding: 15px 32px;
   

} 


.buttonlogin1{ 
    margin: 70px 0px -20px 0px; 
    border-radius: 8px; 
    background-color: #CBE5F9;
    border: none;
    font-size: 15px; 
    color: black;
    text-align: center;
    padding: 15px 32px;
     
} 


#error{
    background-color: lightcoral;
    margin-left: 250px;
    margin-right: 250px;
    padding: 8px;
    border-radius: 10px;
}



/* css for changepin.html */


#sec-p{
    display: flex;
    justify-content: center;
    background-position: center;
    flex-direction: column;
    background-position: center;
    align-items: center;
    padding: 80px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
    text-align: center; 
}

.chinput{ 
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    font-size: 15px;
    margin: 20px;
    padding: 8px;
    text-align: center; 
}


.chbutton{ 
    margin: 285px 0px 0px -12px;
    border-radius: 8px; 
    background-color: #CBE5F9; 
    border: none;
    font-size: 15px; 
    color: black;
    text-align: center;
    padding: 15px 32px;
  
} 


/* css for manager.html */

.option{ 
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 15px 32px;
    width: 300px;
    height: 200px;
    font-size: 36px;
}



/* css for prices.html */


#petrolheading, 
#showregpetrol
{
    display: inline-block;
}


#dieselheading,
#showdiesel
{
    display: inline-block;
}


#higradeheading,
#showhigrade
{
    display: inline-block;
}


body 
{
    background-position: center;
    background-size: cover;
    margin-top: 40px;
}


.headingprices{ 
    width: 800px;
    margin: auto;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
}


.prices{  
    float: left
    
}

.upperbutton{ 
    background-color: #CBE5F9;
    border-radius: 10px; 
    border: none;
    font-size: 24px;
    color: black;
    text-align: center;
    padding: 15px 32px;  
    position: absolute; 
     margin: 0px 0 0 285px;    
   
}

.main{
    width: 800px;
    margin: auto;
}

form{ 
    padding: 10px;
}

#row1{
    width: 100%;
    height: 100px;
}

.start{ 
    height: 5px;
    position: relative;
}


.confirmbutton{ 
    margin-top: 30px; 
    background-color: #CBE5F9;
    border-radius: 10px;
    border: none;
    font-size: 24px;
    color: black;
    text-align: center;
    padding: 15px 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/* css for pricessuccess.html */

.donebutton{ 
    margin-top: 30px; 
    background-color: #CBE5F9;
    border-radius: 10px;
    border: none;
    font-size: 24px;
    color: black;
    text-align: center;
    padding: 15px 32px;
   /* margin: 0; REMOVED FOR NOW */
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.fueltype{
    margin-left: 25px;
    margin-top: 30px; 
    width: 125px;
    color: black;
    font-size: 22px;
    font-weight; 700;    
}


.field{ /* used for all the fields */
    position: relative;
    left: 200px;
    top: -29px;
    border-radius: 10px; 
    line-height: 30px;
    padding: 0 2px; 
    font-size: 16px;      
       
}

.firstLabel {
     margin-left: 270px;   
}


.secondLabel { 
    margin-left: 155px; 
    margin-right: 30px;
}


#row2{ 
    width: 100%;
    height: 100px;
}


/* css for transactionlog.html */

#box { 
  background-color: #D9D9D9;
  padding: 15px ; 
  width: 700px;  
  height: 280px; 
  margin: 20px 0 0 285px;   
  position: center;
  text-align: left;

}

.transactionlog{  
    float: left
    
}

.print-button{   
    background-color: D9D9D9;
    border-radius: 10px;
    font-size: 24px;
    color: black;
    text-align: center;
    padding: 7px 15px; 
    width: 100px; 
    height: 93px; 
    position: relative; 
    margin: 140px 0 0 285px;  
}


.print-under{ 
    text-align: center;
    margin: 0px 0 0 285px;  
    
} 


.done-button2{ 
    background-color: #CBE5F9; 
    border-radius: 10px;
    border: none;  
    font-size: 24px;
    color: black;
    text-align: center;
    padding: 15px 32px;
    position: relative; 
    margin: 160px 0 0 490px; 
    
 
}

.headingname{
   margin: 10px 0 0 285px;   
}

.title{
  display: inline-block;
  padding-left: 30px;
}

.nextlineD{
   
    padding-left: 85px;
}

.nextlinePR{
   
    padding-left: 140px;
}

.nextlinePH{
   
    padding-left: 155px;
}


